<div class="mainpage">
  <section class="landing">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Bienvenue sur PROJET-X <br> le générateur de tournoi E-Sport.</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-10 align-self-baseline">
        <p class="text-white font-weight-bold mb-5">Vous voulez organiser ou suivre un tournoi amateur ou professionnel ? N'attendez plus, PROJET-X est l'outil qu'il vous faut. <br> Au programme : suivi des résultats en temps réel, organisation et gestions des règles et participants</p>


        <a class="btn btn-primary btn-xl" routerLink="/home">LET'S GOO !</a></div>
    </div>
  </div>
  </section>
</div>
