<!--<div class="container mt-5 bg-light rounded">
  <h1 class="text-center">&#45;&#45; PROJETX &#45;&#45;</h1>


  <div class="mt-4 text-center">
    <h4 class="font-weight-bold mt-5 mb-5"> ETES-VOUS ?</h4>
    <a routerLink="/player" class="btn btn-primary btn-lg m-2">JOUEUR</a>
    <a routerLink="/organizer" class="btn btn-primary btn-lg m-2">ORGANISATEUR</a>

    <p class="font-italic">
      <a class="nav-link text-black-50" routerLink="/login">Se Connecter</a>
    </p>
  </div>

</div>-->

<div class="mainpage">
  <section class="organizer">
    <h1><a routerLink="/">ORGANISATEUR</a></h1>
  </section>

  <section class="player">
    <h1><a routerLink="/">JOUEUR</a></h1>
  </section>

  <section class="sign-in">
    <h1><a routerLink="/login">CONNEXION</a></h1>
  </section>

</div>
